.section_about{
    width: 100%;
    height: 100vh;
  
}
.container_about{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;

}
.content-section_about{
    float: left;
    width: 55%;

}
.image-section_about{
    float: right;
    width: 40%;
}
@media screen and (max-width:768px){
    
}